{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}

{% block content %}
    <div>
    {% for message in get_flashed_messages() %} 
         <p>{{ message }}</p>
    {% endfor %}
    </div>
    
    <h1>Hello, 
    {% if current_user.is_authenticated %}

   	    {{ current_user.username }}

    {% else %}

        Guest

    {% endif %}
    </h1>

<div>

{% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
{% endif %}

<br />

</div>

<ul class="nav nav-tabs">
  <li role="presentation" {% if not show_followed %}class="active"{% endif %}><a href="{{ url_for('show_all') }}">All</a></li>
  <li role="presentation" {% if show_followed %}class="active"{% endif %}><a href="{{ url_for('show_followed') }}">Followers</a></li>
</ul>

<div>
{% include '_posts.html' %}
<div class='pagination'>
    {{ macros.pagination_widget(pagination, 'index') }}
</div>
</div>

{% endblock %}
